global
    maxconn 4096
    zero-warning

defaults
    mode tcp
    timeout connect 5s
    timeout client 1h
    timeout server 1h
    timeout check 5s

resolvers kubernetes
    parse-resolv-conf
    timeout resolve 1s
    timeout retry 1s
    hold valid 10s
    hold other 10s
    hold refused 10s
    hold nx 10s
    hold timeout 10s
    hold obsolete 10s

frontend public-http
    bind :80
    default_backend envoy-http

frontend public-https
    bind :443
    default_backend envoy-https

backend envoy-http
    server envoy main-gateway-envoy.envoy-gateway-system.svc.cluster.local:80 send-proxy-v2 check check-send-proxy inter 2s fall 3 rise 2 resolvers kubernetes init-addr libc,none

backend envoy-https
    server envoy main-gateway-envoy.envoy-gateway-system.svc.cluster.local:443 send-proxy-v2 check check-send-proxy inter 2s fall 3 rise 2 resolvers kubernetes init-addr libc,none
