# Envoy Gateway
# Kubernetes Gateway API 구현체
# https://gateway.envoyproxy.io/
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  # Envoy Gateway v1.6.1 (EOL: 2026/05/13)
  - https://github.com/envoyproxy/gateway/releases/download/v1.6.1/install.yaml
  # Custom Resources
  - gatewayclass.yaml
  - gateway.yaml
  - certificate.yaml

patches:
  # Envoy Gateway를 arm64 노드에서 실행 (외부 IP 접근 가능)
  - target:
      kind: Deployment
      name: envoy-gateway
      namespace: envoy-gateway-system
    patch: |
      - op: add
        path: /spec/template/spec/nodeSelector
        value:
          kubernetes.io/arch: arm64
