# Envoy Gateway
# Kubernetes Gateway API 구현체
# https://gateway.envoyproxy.io/
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  # Envoy Gateway v1.6.1 (EOL: 2026/05/13)
  - https://github.com/envoyproxy/gateway/releases/download/v1.6.1/install.yaml
  # Custom Resources
  - gatewayclass.yaml
  - gateway.yaml
  - certificate.yaml
