apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-image-updater-config
  namespace: argocd
  labels:
    app.kubernetes.io/name: argocd-image-updater
    app.kubernetes.io/component: image-updater
data:
  registries.conf: |
    registries:
    - name: Zot Self-Hosted
      prefix: docker-registry.bottle-note.com
      api_url: https://docker-registry.bottle-note.com
      ping: yes
      insecure: no
      default: yes
      credentials: env:ZOT_CREDENTIALS

  log.level: "debug"

  argocd.grpc_web: "true"
  argocd.server_addr: "argocd-server.argocd"
  argocd.insecure: "false"
  argocd.plaintext: "false"

  git.user: "argocd-image-updater"
  git.email: "argocd-image-updater@argoproj.io"
