# IngressClass - nginx
# Ingress 리소스에서 ingressClassName: nginx로 지정하면 이 컨트롤러가 처리
# 클러스터 레벨 리소스 (네임스페이스 무관)

apiVersion: networking.k8s.io/v1
kind: IngressClass
metadata:
  name: nginx
  labels:
    app.kubernetes.io/component: controller
    app.kubernetes.io/instance: ingress-nginx
    app.kubernetes.io/name: ingress-nginx
    app.kubernetes.io/part-of: ingress-nginx
spec:
  # 이 IngressClass를 처리할 컨트롤러 식별자
  # ingress-nginx-controller의 --controller-class 인자와 일치해야 함
  controller: k8s.io/ingress-nginx
